<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sprout.finderlib"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        
        <activity android:name=".DeviceList"/>
        <service android:name=".PSI_C"/>
        <service android:name=".PSI_C_Homo"/>
        <service android:name=".PSI"/>
        <service android:name=".APSI"/>
        <service android:name=".EC_PSI_C"/>
    </application>
    
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>